		body{
			font-family: "Segoe UI",Arial,sans-serif;
		}
		header{
			color: #555555;
			background-color: white;
			font-size: 37px;
			font-family: 'Sansita', sans-serif;
			position: relative;
			height: 68px;
			padding-top: 8px 16px;
			margin-top: 5px;
			line-height: 50px;
			z-index: 2;
			margin-bottom: 0px;
		}
		.com{
			color: green;
		}
		.righty{
			float: right;
			letter-spacing: 4px;
			font-size: 15px;
			padding-top: 15px;
			margin-bottom: 0px;
			padding-bottom: 0px;
			}
		.topnav{
			width: 100%;
			height: 50px;
			float: left;
			position: relative;
			z-index: 4;
			font-size: 17px;
			background-color: #4CAF50;
			margin: 0px;
			padding: 0px;
		    -webkit-margin-before: 0em;
    		-webkit-margin-after: 0em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 40px;
		}

		.dropbtn {
	    background-color: #4CAF50;
	    color: white;
	    padding: 16px;
	    font-size: 16px;
	    border: none;
	    cursor: pointer;
	}

	.dropdown {
	    position: relative;
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 200px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}

	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
	    display: block;
	}

	.dropdown:hover .dropbtn {
	    background-color: #3e8e41;
	}
	aside{
		font-size: 16px;
		padding: 16px;
		display: block;
		height: 100%;
		position: absolute;
		font-family: 'verdana',sans-serif;
		cursor: auto;
		line-height: 1;
		width: 196px;
	}
	.sidenav{
	    z-index: 3;
	    width: 180px;
	    position: absolute !important;
	    margin-bottom: -155px;
	    height: 100%;
	}
	.ht{
		padding-top: 10px;
		margin-top: 45px;
		margin-bottom: 20px;
		font-family: 'verdana',sans-serif;
		line-height: 1;
		cursor: auto;
		float: bottom;
	}
	.sidenav a{
		display: block;
		padding: 0 16px 0px 0px;
		font-size: 16px;
		text-decoration: none;
		margin: 0px;
		margin-top: 1px;
		line-height: 1;
	}
	.sidenav a:hover{
		background-color: #ccc;
		outline-width: 0;
		color: #000;
		line-height: 1;
	}
	a{
		color: inherit;
	}

	.below{
		float: bottom;
	}

	section{
		color: #555555;
		font-size: 24px;
		border-left: 3px solid #969696;
		border-bottom: 2px solid #969696;
		margin-left: 196px; 
		margin-right: 0px;
		margin-top: 50px;
		width: 85%;
		height: 400px;
		padding-right: 40px;
	}

	.text{
		padding-left: 70px;
		padding-bottom: 200px;
		padding-top: 100px;
	}

	.dark{
		font-size: 80px;
	}

	article{
		margin-left: 196px;
	}

	.img{
		width: 100%;
	}

	.other{
		margin-top: 0px;
	}

	table{
		border: 5px solid #f1f1f1;
		border-spacing: 50px;
		padding: 5px;
		width: 101%;
		height: 80px;
		background-color: #f1f1f1;
		border-left: 2px solid #969696;
	}
	td{
		border: 3px groove #f2f2f2;
		padding: 15px;
		background-color: white;
		text-align: center;
		color: #646464;
		font-size: 24px;
	}

	.tab{
		color: black;
		font-size: 40px;
	}

	.table{
		margin-left: 196px;

	}

	.btn{
		color: white;
		background-color: #616161;
		border: none;
		padding: 10px 25px;
		text-align: center;
		font-size: 16px;
	    text-decoration: none;
	    display: inline-block;
	    margin: 4px 2px;
	    cursor: pointer;
	}

	.anothertable, td{
		border-spacing: 20px;
		background: white;
		border: none;
	}

	.table1{
		margin-left: 196px;
		border-left: 2px solid #969696;
	}

	.table2{
		border: 2px solid #969696;
		margin-left: 196px;
		padding: 10px 40px 30px 10px;
	}